<a href="https://colab.research.google.com/github/Rakeshnaidu03/Rakesh-Chanda/blob/main/ICP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list
ages.sort()

# Find the min and max age
min_age = ages[0]
max_age = ages[-1]

# Add the min and max age again to the list
ages.extend([min_age, max_age])

# Find the median age
mid_index = len(ages) // 2
if len(ages) % 2 == 0:
    median_age = (ages[mid_index - 1] + ages[mid_index]) / 2
else:
    median_age = ages[mid_index]

# Find the average age
average_age = sum(ages) / len(ages)

# Find the range of ages
age_range = max_age - min_age

print("Sorted Ages:", ages)
print("Min Age:", min_age)
print("Max Age:", max_age)
print("Median Age:", median_age)
print("Average Age:", average_age)
print("Age Range:", age_range)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Min Age: 19
Max Age: 26
Median Age: 24.0
Average Age: 22.75
Age Range: 7

In [5]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog["name"] = "Buddy"
dog["color"] = "Brown"
dog["breed"] = "Golden Retriever"
dog["legs"] = 4
dog["age"] = 3

# Create a student dictionary and add various keys
student = {
    "first_name": "John",
    "last_name": "Doe",
    "gender": "Male",
    "age": 25,
    "marital_status": "Single",
    "skills": ["Python", "JavaScript"],
    "country": "USA",
    "city": "New York",
    "address": "123 Main St"
}

# Get the length of the student dictionary
student_length = len(student)

# Get the value of skills and check the data type
skills_value = student["skills"]
skills_data_type = type(skills_value)

# Modify the skills values by adding one or two skills
student["skills"].extend(["HTML", "CSS"])

# Get the dictionary keys as a list
keys_list = list(student.keys())

# Get the dictionary values as a list
values_list = list(student.values())

# Print the results
print("Dog Dictionary:", dog)
print("Student Dictionary:", student)
print("Length of Student Dictionary:", student_length)
print("Data type of 'skills' value:", skills_data_type)
print("Updated Student Dictionary:", student)
print("Dictionary Keys List:", keys_list)
print("Dictionary Values List:", values_list)

Dog Dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Golden Retriever', 'legs': 4, 'age': 3}
Student Dictionary: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 25, 'marital_status': 'Single', 'skills': ['Python', 'JavaScript', 'HTML', 'CSS'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Length of Student Dictionary: 9
Data type of 'skills' value: <class 'list'>
Updated Student Dictionary: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 25, 'marital_status': 'Single', 'skills': ['Python', 'JavaScript', 'HTML', 'CSS'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Dictionary Keys List: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary Values List: ['John', 'Doe', 'Male', 25, 'Single', ['Python', 'JavaScript', 'HTML', 'CSS'], 'USA', 'New York', '123 Main St']

In [22]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))
it_companies.add('Twitter')
it_companies.update(['Netflix', 'Snapchat'])
it_companies.remove('Oracle')
it_companies.discard('IBM')
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A.union(B))
print(A.intersection(B))
print(A.issubset(B))
print(A.isdisjoint(B))
A.union(B)
B.union(A)
print(A.symmetric_difference(B))
del A
del B
ages = [22, 19, 24, 25, 26, 24, 25, 24]
age_set = set(ages)
print(len(ages))
print(len(age_set))

7
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{27, 28}
8
5

In [13]:
class Employee:
    num_employees = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.num_employees += 1

    def average_salary(self):
        return self.salary / Employee.num_employees

class FulltimeEmployee(Employee):
    pass

# Creating instances of Employee and FulltimeEmployee classes
employee1 = Employee("John Doe", "Spouse", 60000, "HR")
employee2 = Employee("Jane Smith", "Child", 50000, "IT")
fulltime_employee1 = FulltimeEmployee("Alex Johnson", "Spouse", 75000, "Finance")
fulltime_employee2 = FulltimeEmployee("Eva Williams", "Child", 70000, "Marketing")

# Calling member functions
print("Average Salary:", employee1.average_salary())
print("Average Salary:", fulltime_employee1.average_salary())

# Printing the number of employees
print("Number of Employees:", Employee.num_employees)

Average Salary: 15000.0
Average Salary: 18750.0
Number of Employees: 4