<a href="https://colab.research.google.com/github/Rakeshnaidu03/Rakesh-Chanda/blob/main/ML_ICP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# List of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list
ages.sort()

# Find the min and max age
min_age = ages[0]
max_age = ages[-1]

# Add the min and max age again to the list
ages.extend([min_age, max_age])

# Find the median age
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n // 2 - 1] + ages[n // 2]) / 2
else:
    median_age = ages[n // 2]

# Find the average age
average_age = sum(ages) / len(ages)

# Find the range of the ages
age_range = max_age - min_age

# Print the results
print("Sorted ages:", ages)
print("Min age:", min_age)
print("Max age:", max_age)
print("Median age:", median_age)
print("Average age:", average_age)
print("Age range:", age_range)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Min age: 19
Max age: 26
Median age: 24.0
Average age: 22.75
Age range: 7

In [2]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Fido'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 3

# Create a student dictionary
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 25,
    'marital_status': 'Single',
    'skills': ['Python', 'JavaScript'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}

# Get the length of the student dictionary
student_length = len(student)

# Get the value of skills and check the data type
skills_value = student['skills']
skills_data_type = type(skills_value)

# Modify the skills values by adding one or two skills
student['skills'].extend(['HTML', 'CSS'])

# Get the dictionary keys as a list
student_keys = list(student.keys())

# Get the dictionary values as a list
student_values = list(student.values())

# Print the results
print("Length of the student dictionary:", student_length)
print("Data type of skills value:", skills_data_type)
print("Modified skills value:", student['skills'])
print("Keys of the student dictionary:", student_keys)
print("Values of the student dictionary:", student_values)

Length of the student dictionary: 9
Data type of skills value: <class 'list'>
Modified skills value: ['Python', 'JavaScript', 'HTML', 'CSS']
Keys of the student dictionary: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Values of the student dictionary: ['John', 'Doe', 'Male', 25, 'Single', ['Python', 'JavaScript', 'HTML', 'CSS'], 'USA', 'New York', '123 Main St']

In [3]:
# Create a tuple containing names of your sisters and your brothers
sisters = ('Anna', 'Emily')
brothers = ('John', 'Michael', 'Daniel')

# Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers

# How many siblings do you have?
num_siblings = len(siblings)

# Modify the siblings tuple and add the name of your father and mother and assign it to family_members
father = 'John Sr.'
mother = 'Mary'
family_members = (father, mother) + siblings

# Print the results
print("Number of siblings I have:", num_siblings)
print("Family members:", family_members)

Number of siblings I have: 5
Family members: ('John Sr.', 'Mary', 'Anna', 'Emily', 'John', 'Michael', 'Daniel')

In [5]:

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

# Find the length of the set it_companies
print("Length of it_companies:", len(it_companies))

# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("it_companies after adding 'Twitter':", it_companies)

# Insert multiple IT companies at once to the set it_companies
new_companies = {'Netflix', 'Spotify'}
it_companies.update(new_companies)
print("it_companies after adding multiple companies:", it_companies)

# Remove one of the companies from the set it_companies
it_companies.remove('IBM')
print("it_companies after removing 'IBM':", it_companies)

# Difference between remove and discard
# remove raises an error if the item is not found, while discard does nothing
try:
  it_companies.remove('NonexistentCompany')
except KeyError:
  print("remove raises KeyError for non-existent items")

it_companies.discard('NonexistentCompany')
print("discard does nothing for non-existent items")

# Join A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
C = A.union(B)
print("Join of A and B:", C)

# Find A intersection B
intersection = A.intersection(B)
print("Intersection of A and B:", intersection)

# Is A subset of B
is_subset = A.issubset(B)
print("Is A subset of B:", is_subset)

# Are A and B disjoint sets
is_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets:", is_disjoint)

# Join A with B and B with A
join_A_B = A.union(B)
join_B_A = B.union(A)
print("Join of A with B and B with A (should be the same):", join_A_B, join_B_A)

# Symmetric difference between A and B
symmetric_difference = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference)

# Delete the sets completely
del A, B, C, intersection, is_subset, is_disjoint, join_A_B, join_B_A, symmetric_difference

# Convert the ages to a set and compare the length of the list and the set.
ages = [22, 19, 24, 25, 26, 24, 25, 24]
ages_set = set(ages)
print("Length of the list:", len(ages))
print("Length of the set:", len(ages_set))
print("Difference in length:", len(ages) - len(ages_set))

Length of it_companies: 7
it_companies after adding 'Twitter': {'Oracle', 'Facebook', 'Twitter', 'IBM', 'Google', 'Amazon', 'Apple', 'Microsoft'}
it_companies after adding multiple companies: {'Spotify', 'Google', 'Netflix', 'Amazon', 'Apple', 'Oracle', 'IBM', 'Twitter', 'Facebook', 'Microsoft'}
it_companies after removing 'IBM': {'Spotify', 'Google', 'Netflix', 'Amazon', 'Apple', 'Oracle', 'Twitter', 'Facebook', 'Microsoft'}
remove raises KeyError for non-existent items
discard does nothing for non-existent items
Join of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
Join of A with B and B with A (should be the same): {19, 20, 22, 24, 25, 26, 27, 28} {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of the list: 8
Length of the set: 5
Difference in length: 3

In [6]:
import math

# Given radius
radius = 30

# Calculate the area of a circle
area_of_circle = math.pi * radius ** 2

# Calculate the circumference of a circle
circum_of_circle = 2 * math.pi * radius

# Print the calculated values
print("Area of the circle:", area_of_circle)
print("Circumference of the circle:", circum_of_circle)

# Take radius as user input and calculate the area
user_radius = float(input("Enter the radius of the circle: "))
area_user_circle = math.pi * user_radius ** 2
print("Area of the circle with radius", user_radius, "is:", area_user_circle)

Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Enter the radius of the circle: 20
Area of the circle with radius 20.0 is: 1256.6370614359173

In [9]:
# Given sentence
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words and convert to set to get unique words
unique_words = set(sentence.split())

# Count the number of unique words
num_unique_words = len(unique_words)

# Print the number of unique words
print("Number of unique words:", num_unique_words)

Number of unique words: 10

In [10]:
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [12]:
radius = 10
area = 3.14 * radius ** 2

# Using f-string for string formatting
print(f"The area of a circle with radius {radius} is {area} meters square.")

The area of a circle with radius 10 is 314.0 meters square.

In [13]:
# Read the number of students from the user
N = int(input("Enter the number of students: "))

# Initialize an empty list to store weights in pounds
weights_lbs = []

# Read weights in pounds from the user
for i in range(N):
    weight_lbs = float(input(f"Enter weight of student {i+1} in pounds: "))
    weights_lbs.append(weight_lbs)

# Convert weights from pounds to kilograms and store them in a separate list
weights_kg = []
for weight_lbs in weights_lbs:
    weight_kg = weight_lbs * 0.45359237  # 1 pound is approximately equal to 0.45359237 kilograms
    weights_kg.append(round(weight_kg, 2))  # Round to 2 decimal places

# Print the weights in kilograms
print("Weights in kilograms:", weights_kg)

Enter the number of students: 5
Enter weight of student 1 in pounds: 60
Enter weight of student 2 in pounds: 54
Enter weight of student 3 in pounds: 5
Enter weight of student 4 in pounds: 76
Enter weight of student 5 in pounds: 87
Weights in kilograms: [27.22, 24.49, 2.27, 34.47, 39.46]